BETTER_AUTH_SECRET=xx
BETTER_AUTH_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3001
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
DATABASE_URL=postgresql://xxx:xxx@xxx/xxx?channel_binding=require&sslmode=require
DATABASE_URL_DIRECT=postgresql://xxx:xxx@xxx/xxx?channel_binding=require&sslmode=require
GOOGLE_CLIENT_ID="....apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="..."

######

VALSEA_API_KEY=
